Body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

a:active {
  color: #0065fc;
}

a:hover {
  color: #0065fc;
  border-top: 2px solid;
}



.flex-container-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;

}


.links-head {
float: right;

}

.flex-container-1 li {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #0065FC;
  margin-top: auto;

}

.flex-container-1 ul {
  list-style-type: none;
  display: inline-flex;
}



.flex-container-1 a {
text-decoration: none;
}




.flex-container-3 {
  font-family: 'Raleway', sans-serif;

}

 p {
  font-family: 'Raleway', sans-serif;
}


.searchTerm {
font-size: 20px;
border-width: 1px;
font-weight: bold;
color: black;
width: 200px;
}

.search-box {

}

.searchButton {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-color: #0065FC ;
  color: white;
  height: 28px;
  font-size: 19px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-color: none;
  letter-spacing: 1px;
  margin: auto;
}

button:hover {
  color: #0065fc;
  border-top: 2px solid;
}



.fas fa-map-marker-alt {
  background: url('fas fa-map-marker-alt');
  background-color: #f2f2f2
}




.flex-container-4 {
  display: grid;
  margin: 19px;
  grid-template-columns: 160px 210px 180px 180px;
  justify-content: start;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;

}

.flex-container-4 b{
  margin-top: 3px;
}

.flex-container-4 p {
  font-family: 'Raleway', sans-serif;
}



.pets-allowed {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border: 1px solid;
  border-color: grey;
  margin-right: 5px;
}

.pets-allowed img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.romantic {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border: 1px solid;
  border-color: grey;
  margin-right: 5px;
}

.romantic img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.dollar {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border: 1px solid;
  border-color: grey;
  margin-right: 5px;
}

.dollar img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #DEEBFF;
  background-size: 30px 30px;
}

.family {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border: 1px solid;
  border-color: grey;
  margin-right: 5px;
}

.family img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}




.filter b {
  margin-top: 7px,
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}


.searchTerm {
  font-family: 'Raleway', sans-serif;
}

.fa-info-circle {
    margin: 0px 10px 0px 0px;
    float: left;
}



.flex-container-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;

}

.box-1 {
border: white solid;
width: 900px;
height: 500px;
border-radius: 15px;
background-color: #f2f2f2;
display: grid;
grid-template-columns: 300px 300px 300px;
grid-template-rows: 240px 240px;


}

.box-1 div {

  margin: 15px 15px 15px 15px;
  border-radius: 10px;
  background-color: white;



}

.box-1 b {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.box-1 .img-box {
  overflow: hidden;
}

.box-1 .img-box img {
  display: block;
  max-width: 400px;
  max-height: 150px;
  min-width: 280px;
}


.fig-1 {
  width: 300px;
  height: 90px;

}

.fig-1 figcaption {
  margin-top: 0;
}





.box-2 {

  border: white solid;
  width: 600px;
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;

}

.box-2 b {
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
}

.box-2 img {
  max-width: 150px;
  max-height: 200px;
  min-height: 120px;

}


#nicate-lee {
  overflow: hidden;

}

#reisetopia {
  overflow: hidden;
}

#febrian-zakaria {
  overflow: hidden;
}

.box-2 div {
  background-color: white;
  width: 300px;
  height: 120px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;


}


.activities {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  width: 1565px;
  height: 450px;
  margin-top: 40px;

}

.act-text {
  width: 350px;
  height: 17px;
}

#box-act-1 {
  background-color: black;
  width: 350px;
  height: 400px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
  display: block;



}


#box-act-2 {
  background-color: black;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;


}

#box-act-6 {
  background-color: black;
  width: 350px;
  height: 150px;
  margin-top: -150px;
  border-radius: 10px;
  overflow: hidden;

}

#box-act-3 {
  background-color: black;
  width: 350px;
  height: 400px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;

}

#box-act-4 {
  background-color: black;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;

}

#box-act-8 {
  background-color: black;
  width: 350px;
  height: 160px;
  margin-top: -160px;
  border-radius: 10px;
  overflow: hidden;

}

/* Blank Divs future use only */

#box-act-5 {

}
/* Blank Divs future use only */
#box-act-7 {

}
/* Blank Divs future use only */

.footer {
  display: grid;
  background-color: #f2f2f2;
  width: 1565px;
  height: 200px;
  margin-top: 40px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
}

#about{
  margin-top: 40px;
  line-height: 1.6;


}

#about ul {
  list-style-type: none;

}


#accomdations {
margin-top: 40px;
line-height: 1.6;
}

#accomdations ul {
  list-style-type: none;

}

#assistance {
margin-top: 40px;
line-height: 1.6;
}

#assistance ul {
  list-style-type: none;

}

.title-activites b {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
}

.footer a {
  text-decoration: none;
}






/* Seach button css */



/* Seach button css */
