Body {
  background-color: white;
}


.flex-container-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.links-head {
float: right;


}

.flex-container-1 li {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #0065FC;
}

.flex-container-1 ul {
  list-style-type: none;
  display: inline-flex;
}

.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;


}


 .flex-container-2 li {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #0065FC;

}


 .flex-container-2 ul {
  list-style-type: none;
  display: inline-flex;


}


.flex-container-4 {
  display: flex;
  margin: 19px;
  flex-direction: row;
  margin-top: 40px;
}

.button {
  margin: 10px;
  border-radius: 20px 20px 20px 20px;
}

.flex-container-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-1 {
border: white solid;
width: 900px;
height: 500px;
border-radius: 15px;
background-color: #F2F2;
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto;
grid-column-gap: 30px;
grid-row-gap: 10px;
}

.box-1 div {
  background-color: black;
  margin: 15px 15px 15px 15px;
  width 100px,
  height 90px;
  border-radius: 10px;

}


.box-2 {

  border: white solid;
  width: 600px;
  height: 500px;
  background-color: #F2F2;
  border-radius: 15px;
  display:  grid;
  grid-template-columns: auto;
  justify-content: center;


}

.box-2 div {
  background-color: black;
  width: 300px;
  height: 120px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;


}





/* Seach button css */



/* Seach button css */
