Body {
  background-color: white;
}


.flex-container-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.links-head {
float: right;

}

.flex-container-1 li {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #0065FC;
}

.flex-container-1 ul {
  list-style-type: none;
  display: inline-flex;
}

.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;


}


 .flex-container-2 li {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #0065FC;

}


 .flex-container-2 ul {
  list-style-type: none;
  display: inline-flex;


}

 p {
  font-family: 'Raleway', sans-serif;
}


.flex-container-4 {
  display: flex;
  margin: 19px;
  flex-direction: row;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  display: inline-flex;
}


.flex-container-4 p {
  font-family: 'Raleway', sans-serif;
}

.button {
  margin: 10px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  border none;
  font-weight: bold;

}

.flex-container-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.box-1 {
border: white solid;
width: 900px;
height: 500px;
border-radius: 15px;
background-color: #F2F2;
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto;
grid-column-gap: 10px;
grid-row-gap: 10px;

}

.box-1 div {

  margin: 15px 15px 15px 15px;
  max-width: 90px,
  max-height: 90px;
  border-radius: 10px;



}

#annie-spratt {
  overflow: hidden;


}

#aw-creative {
  overflow: hidden;

}

#emile-guillemot {
  overflow: hidden;

}

#reisetopia {
  overflow: hidden;
}

#fred-kleber {
  overflow: hidden;
}

#marcus-loke {

  overflow: hidden;
}



}

.box-2 {
  
  border: white solid;
  width: 600px;
  height: 500px;
  background-color: #F2F2;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#nicate-lee {
  overflow: hidden;

}

#reisetopia {
  overflow: hidden;
}

#febrian-zakaria {
  overflow: hidden;
}

.box-2 div {
  background-color: black;
  width: 300px;
  height: 120px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;


}


.activities {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  background-color: light-grey;
  width: 1565px;
  height: 450px;
  margin-top: 40px;

}

#box-act-1 {
  background-color: black;
  width: 350px;
  height: 400px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;


}

#box-act-2 {
  background-color: black;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;


}

#box-act-6 {
  background-color: black;
  width: 350px;
  height: 150px;
  margin-top: -150px;
  border-radius: 10px;
  overflow: hidden;

}

#box-act-3 {
  background-color: black;
  width: 350px;
  height: 400px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;

}

#box-act-4 {
  background-color: black;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;

}

#box-act-8 {
  background-color: black;
  width: 350px;
  height: 160px;
  margin-top: -160px;
  border-radius: 10px;
  overflow: hidden;

}

/* Blank Divs future use only */

#box-act-5 {

}
/* Blank Divs future use only */
#box-act-7 {

}
/* Blank Divs future use only */

.footer {
  display: grid;
  background-color: grey;
  width: 1565px;
  height: 250px;
  margin-top: 40px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
}

#about{
  margin-top: 40px;


}

#about ul {
  list-style-type: none;

}


#accomdations {
margin-top: 40px;
}

#accomdations ul {
  list-style-type: none;

}

#assistance {
margin-top: 40px;
}

#assistance ul {
  list-style-type: none;

}

.title-activites b {
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
}

a:hover {
  background-color: #DEEBFF;
}

/* Seach button css */



/* Seach button css */
